[Unit]
Description=hdparm Tweaks
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/hdparm -W 1 /dev/sda
ExecStart=/usr/sbin/hdparm -B 255 /dev/sda
ExecStart=/usr/sbin/hdparm -M 0 /dev/sda
ExecStart=/usr/sbin/hdparm -s 0 /dev/sda
ExecStart=/usr/sbin/hdparm -S 0 /dev/sda
ExecStart=/usr/sbin/hdparm -A 1 /dev/sda
ExecStart=/usr/sbin/hdparm -Z /dev/sda
ExecStart=/usr/sbin/hdparm -R0 /dev/sda
ExecStart=/usr/sbin/hdparm -J 0 --please-destroy-my-drive /dev/sda

[Install]
WantedBy=multi-user.target
